@model IEnumerable<PartyMemberManager.Dal.Entities.Nation>

@{
    ViewData["Title"] = "Index";
}
<p style="margin-bottom:14px;">
    <a href="javascript:showEdit('@Url.Action("Create")','@Url.Action("Save")','添加',800,800)" class="layui-btn layui-btn-primary">+添加</a>
</p>
<table class="layui-hide" id="datatable"></table>
@Html.AntiForgeryToken()
<link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script type="text/javascript">
        var tableObject = null;
        $(document).ready(function () {
            $("body").width(1200);
            InitTable();
        });

        function Delete(id) {
            var url="@Url.Action("Delete")";
            DeleteData(url, id, function () {
                tableObject.reload();
            });
        }
        /**
        * 数据上移
        * @@param id
        */
        function ItemUp(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,true,
                function () {
                    RefreshTable();
            });
        }
        /**
         * 数据下移
         * @@param id
         */
        function ItemDown(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,false,
                function () {
                    RefreshTable();
            });
        }
        /**刷新表格 */
        function RefreshTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('dataGrid', {
                    url: '@Url.Action("GetDatas")'
                });
            });
        }
        function InitTable() {
            layui.use('table', function () {
                var table = layui.table;

                tableObject = table.render({
                    elem: '#datatable'
                    , url: '@Url.Action("GetDatas")'
                    , page: true //开启分页
                    , limits: [10, 20, 50]
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , id: 'dataGrid'
                    , cols: [[
                        //{ type: 'checkbox' }
                        //,
                        { field: 'name', title: '名称', align: 'center' },
                        { field: 'code', title: '代码', align: 'center' },
                        { field: 'isDeleted', title: '是否删除', align: 'center' },
                        { field: 'id', title: '操作', width: '300', align: 'center', templet: '#optTpl' }
                    ]]
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /**显示隐藏滚动条 */
        function showHideScrollBars(count) {
            if (count > 11) {
                $("body").css("overflow-y", "auto");
            }
            else {
                $("body").css("overflow-y", "hidden");
                $(document).scrollTop(0);
            }
        }
        /**显示操作菜单 */
        function showOperatMenu(event, id) {
            var contextMenu = new ContextMenu();
            contextMenu.addMenuItem("编辑", function () {
                showEdit('@Url.Action("Edit")'+'/' + id, '@Url.Action("Save")', '编辑', 500, 400);
            })
            contextMenu.addMenuItem("删除", function () {
                Delete(id);
            })
            contextMenu.addMenuItem("上移", function () {
                ItemUp(id);
            })
            contextMenu.addMenuItem("下移", function () {
                ItemDown(id);
            })
            contextMenu.showMenu(event);
        }
    </script>
    <script type="text/html" id="optTpl">
        <a class="operate" href="javascript:;" onmousedown="showOperatMenu(event,'{{d.id}}')" style="padding-left:10px;padding-right:10px;">
            <img src="~/images/gridmenu1x.png" />
        </a>
    </script>
}

