@model PartyMemberManager.Dal.Entities.ProvinceCadreTrain
    <form asp-action="Create">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">培训信息</li>
                <li>个人信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="YearTermId" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <select asp-for="YearTermId" class="form-control" asp-items="ViewBag.YearTermId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="Organizer" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="Organizer" class="form-control" />
                                <span asp-validation-for="Organizer" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="TrainOrganizational" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="TrainOrganizational" class="form-control" />
                                <span asp-validation-for="TrainOrganizational" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="TrainTime" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="TrainTime" class="form-control" />
                                <span asp-validation-for="TrainTime" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="TrainDuration" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="TrainDuration" class="form-control" />
                                <span asp-validation-for="TrainDuration" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="Name" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="IDNumber" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="IDNumber" class="form-control" />
                                <span asp-validation-for="IDNumber" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="Sex" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <select asp-for="Sex" asp-items="@Html.GetEnumSelectList(typeof(Sex))" class="form-control"></select>
                                <span asp-validation-for="Sex" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="DepartmentId" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="Phone" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="@LabelDivDefaultClass">
                                <label asp-for="Post" class="control-label"></label>
                            </div>
                            <div class="@InputDivDefaultClass">
                                <input asp-for="Post" class="form-control" />
                                <span asp-validation-for="Post" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>