@model PartyMemberManager.Dal.Entities.ProvinceCadreTrain

        @{
        Layout = "_LayoutEmpty";
        ViewData["Title"] = "Create";
        }
        <div class="row form-padding-top">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="TrainClassId" class="control-label"></label>
                                        </div>
                                        <div>
                                            <select asp-for="TrainClassId" class="form-control" asp-items="ViewBag.TrainClassId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="YearTermId" class="control-label"></label>
                                        </div>
                                        <div>
                                            <select asp-for="YearTermId" class="form-control" asp-items="ViewBag.YearTermId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="Organizer" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="Organizer" class="form-control" />
                                            <span asp-validation-for="Organizer" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="TrainOrganizational" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="TrainOrganizational" class="form-control" />
                                            <span asp-validation-for="TrainOrganizational" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="TrainTime" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="TrainTime" class="form-control" />
                                            <span asp-validation-for="TrainTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="TrainDuration" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="TrainDuration" class="form-control" />
                                            <span asp-validation-for="TrainDuration" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="Name" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="Phone" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="Phone" class="form-control" />
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="IDNumber" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="IDNumber" class="form-control" />
                                            <span asp-validation-for="IDNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="Sex" class="control-label"></label>
                                        </div>
                                        <div>
                                            <select asp-for="Sex" asp-items="@Html.GetEnumSelectList(typeof(Sex))" class="form-control"></select>
                                            <span asp-validation-for="Sex" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="DepartmentId" class="control-label"></label>
                                        </div>
                                        <div>
                                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="Post" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="Post" class="form-control" />
                                            <span asp-validation-for="Post" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="CreateTime" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="CreateTime" class="form-control" />
                                            <span asp-validation-for="CreateTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="OperatorId" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="OperatorId" class="form-control" />
                                            <span asp-validation-for="OperatorId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="Ordinal" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input asp-for="Ordinal" class="form-control" />
                                            <span asp-validation-for="Ordinal" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="@LabelDivDefaultClass">
                                            <label asp-for="IsDeleted" class="control-label"></label>
                                        </div>
                                        <div class="form-check @InputDivDefaultClass">
                                            <div class="layui-form">
                                                <div class="layui-form-item" style="margin-bottom:0px;margin-top:-5px">
                                                    <input type="checkbox" name="IsDeleted" lay-skin="primary" value="true" title="" @(Model.IsDeleted ? "checked" : "" )>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
</form>
</div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>
