@model PartyMemberManager.Dal.Entities.ProvinceCadreTrain

        @{
        Layout = "_LayoutEmpty";
        ViewData["Title"] = "Details";
        }
        
        <h1>详细信息</h1>
        
<div>
    <h4>ProvinceCadreTrain</h4>
    <hr />
    <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.YearTerm)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.YearTerm.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Organizer)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Organizer)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TrainOrganizational)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TrainOrganizational)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TrainTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TrainTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TrainDuration)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TrainDuration)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IDNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IDNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Sex)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Sex)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Department)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Department.Code)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OperatorId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OperatorId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ordinal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ordinal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsDeleted)
                    </dd>
    </dl>
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">返回</a>
</div>
