@model IEnumerable<PartyMemberManager.Dal.Entities.ProvinceCadreTrain>

@{
    ViewData["Title"] = "Index";
}

<div class="layui-form-item" style="background-color:#f8f8f8;padding:8px 5px 3px 5px;margin-bottom:10px;border-radius:2px;display:flex;justify-content:flex-start;flex-wrap: wrap;">
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:80px">
            <a href="javascript:showEdit('@Url.Action("Create")','@Url.Action("Save")','添加',600,700,function(){RefreshTable();})" class="layui-btn layui-btn-primary">+添加</a>
        </div>
    </div>
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px;width:60px">年份:</label>
        <div class="layui-input-inline" style="width:80px">
            <input name="year" type="text" class="layui-input" readonly id="year" />
        </div>
    </div>
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px;width:60px">培训班:</label>
        <div class="layui-input-inline" style="width:240px">
            <select name="ProvinceTrainClassId" asp-items="@ViewBag.ProvinceTrainClassId" class="layui-input" id="ProvinceTrainClassId">
                <option value="">-请选择培训班-</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:200px">
            <input name="keyword" type="text" class="layui-input" placeholder="请输入关键词" id="keyword" />
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="tablefilter()">
                <i class="layui-icon layui-icon-search" style="font-size: 14px; color: #FFFFFF;"></i>查询
            </a>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:120px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="importExcel()">
                <i class="layui-icon layui-icon-export" style="font-size: 14px; color: #FFFFFF;"></i>导入名单
            </a>
        </div>
    </div>
</div>
<table class="layui-hide" id="datatable"></table>
<div style="margin-top: 10px">
    <div class="layui-input-inline" style="width:80px">
        <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="batchDelete()" data-type="batchDelete">
            <i class="layui-icon layui-icon-delete" style="font-size: 14px; color: #FFFFFF;"></i>批量删除
        </a>
    </div>
</div>
@Html.AntiForgeryToken()
<link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script type="text/javascript">
        var tableObject = null;
        $(document).ready(function () {
            $("body").width("100%");
            $(window).resize(function () {
                $("body").width("100%");
            });
            InitTable();
        });

        function Delete(id) {
            var url="@Url.Action("Delete")";
            DeleteData(url, id, function () {
                tableObject.reload();
            });
        }
        /**
        * 数据上移
        * @@param id
        */
        function ItemUp(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,true,
                function () {
                    RefreshTable();
            });
        }
        /**
         * 数据下移
         * @@param id
         */
        function ItemDown(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,false,
                function () {
                    RefreshTable();
            });
        }
        /**刷新表格 */
        function RefreshTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('dataGrid', {
                    url: '@Url.Action("GetDatasWithFilter")'
                });
            });
        }
        function InitTable() {
            layui.use('table', function () {
                var table = layui.table;

                tableObject = table.render({
                    elem: '#datatable'
                    , url: '@Url.Action("GetDatasWithFilter")'
                    , page: true //开启分页
                    , limits: [10, 20, 50]
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , id: 'dataGrid'
                    , cols: [[
                        { type: 'checkbox' }
                        ,
                        { field: 'yearDisplay', title: '年份', align: 'center' },
                        { field: 'trainClassDisplay', title: '培训班', align: 'center' },
            { field: 'name', title: '姓名', align: 'center' },
            { field: 'idNumber', title: '身份证号', align: 'center' },
                        { field: 'sexDisplay', title: '性别', align: 'center' },
            { field: 'nationDisplay', title: '民族', align: 'center' },
            { field: 'department', title: '所在单位', align: 'center' },
            { field: 'post', title: '职务', align: 'center' },
                        { field: 'phone', title: '电话', align: 'center' },
                        { field: 'demand1', title: '学员需求1', align: 'center' },
                        { field: 'demand2', title: '学员需求2', align: 'center' },
                        { field: 'otherDemand', title: '其他需求', align: 'center' },
                        { field: 'id', title: '操作', align: 'center', templet: '#optTpl' }
                    ]]
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
                /**过滤数据 */
        function tablefilter() {
            //此处Id不要#号
            var tableId = "dataGrid";
            layui.use('table', function () {
                var table = layui.table;
                table.reload(tableId, {
                    url: '@Url.Action("GetDatasWithFilter")'
                    , where: {
                        year: $("#year").val(),
                        provinceTrainClassId: $("#ProvinceTrainClassId").val(),
                        keyword: $("#keyword").val()
                    }
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /**显示隐藏滚动条 */
        function showHideScrollBars(count) {
            if (count > 11) {
                $("body").css("overflow-y", "auto");
            }
            else {
                $("body").css("overflow-y", "hidden");
                $(document).scrollTop(0);
            }
        }
        /**显示操作菜单 */
        function showOperatMenu(event, id) {
            var contextMenu = new ContextMenu();
            contextMenu.addMenuItem("编辑", function () {
                showEdit('@Url.Action("Edit")' + '/' + id, '@Url.Action("Save")', '编辑', 600, 700, function () {
                    RefreshTable();
                });
            })
            contextMenu.addMenuItem("删除", function () {
                Delete(id);
            })
            contextMenu.addMenuItem("上移", function () {
                ItemUp(id);
            })
            contextMenu.addMenuItem("下移", function () {
                ItemDown(id);
            })
            contextMenu.showMenu(event);
        }
        function importExcel() {
            showImport('@Url.Action("Import")', '@Url.Action("Import")', '导入省级干部培训名单', 600, 350, function () { RefreshTable(); });
        }
    </script>
    <script type="text/html" id="optTpl">
        <a class="operate" href="javascript:;" onmousedown="showOperatMenu(event,'{{d.id}}')" style="padding-left:10px;padding-right:10px;">
            <img src="~/images/gridmenu1x.png" />
        </a>
    </script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#year',
                type: 'year',
                trigger: 'click',
                done: function (value, date, endDate) {
                    filterProvinceTrainClass(value);
                }
            });
        });
    </script>
    <script>
        function filterProvinceTrainClass(year) {
            var url = '@Url.Action("GetProvinceTrainClasses")';
            var where = { year:year };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请选择培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#ProvinceTrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
    </script>
    <script>
         /*批量删除*/
        function batchDelete() {
            var datas = "";
            try {
                layui.use('table', function () {
                    var table = layui.table;
                    var checkData = table.checkStatus('dataGrid').data;
                    for (i = 0; i < checkData.length; i++) {
                        datas += checkData[i].id + ",";
                    }
                });
                if (datas == "")
                    layer.msg("请选择要删除的人员");
                else {
                    layer.confirm("批量删除将不可恢复！", {
                        btn: ['确定', '取消']
                    }, function () {
                        datas = datas.substring(0, datas.length - 1);
                        $.ajax({
                        type: 'post',
                        url: '@Url.Action("BatchDelete")',
                        data: { idList: datas },
                        dataType: 'json',
                        success: function (data) {
                            layer.msg(data.message);
                            tablefilter();
                        }
                    });
                    });
                }
            }
            catch (error) {
                showError(error.message);
            }
          }
    </script>
}

