@model PartyMemberManager.Dal.Entities.OperatorModule

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Create";
}

<h1>添加</h1>

<h4>OperatorModule</h4>
<hr />
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="UserId" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="ModuleId" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <select asp-for="ModuleId" class="form-control" asp-items="ViewBag.ModuleId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="RightType" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <select asp-for="RightType" asp-items="@Html.GetEnumSelectList(typeof(RightType))" class="form-control"></select>
                        <span asp-validation-for="RightType" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="CreateTime" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input asp-for="CreateTime" class="form-control" />
                        <span asp-validation-for="CreateTime" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="OperatorId" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input asp-for="OperatorId" class="form-control" />
                        <span asp-validation-for="OperatorId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="Ordinal" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input asp-for="Ordinal" class="form-control" />
                        <span asp-validation-for="Ordinal" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

