@model PartyMemberManager.Dal.Entities.TrainClass
@{ 
    var startTime = Model.StartTime.HasValue?string.Format("{0:yyyy-MM-dd}",Model.StartTime.Value.Date):null;
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="YearTermId" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <select asp-for="YearTermId" class="form-control" asp-items="@ViewBag.YearTermId"></select>
            <span asp-validation-for="YearTermId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="Name" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
@if (CurrentUser.Roles > Role.学院党委)
{
    <div class="form-group" id="DepartmentContainer">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="DepartmentId" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="form-control">
                    <option value="">-请选择-</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
}
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="TrainClassTypeId" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <select asp-for="TrainClassTypeId" class="form-control" asp-items="@ViewBag.TrainClassTypeId"></select>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="StartTime" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input id="StartTime" name="StartTime" type="text" class="form-control" placeholder="yyyy-MM-dd"  readonly value="@startTime"/>
            <span asp-validation-for="StartTime" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="PsGradeProportion" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="PsGradeProportion" class="form-control" value="20" />
            <span asp-validation-for="PsGradeProportion" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="SjGradeProportion" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="SjGradeProportion" class="form-control" value="20" />
            <span asp-validation-for="SjGradeProportion" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="CsGradeProportion" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="CsGradeProportion" class="form-control" value="60" />
            <span asp-validation-for="CsGradeProportion" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
