@model PartyMemberManager.Dal.Entities.PotentialMember

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Edit";
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Create">
            <input type="hidden" value="@Model.Id" name="Id" />
            <input type="hidden" value="@ViewBag.IdList" name="IdList" />
            <input type="hidden" id="TrainClassTypeId" value="@ViewBag.TrainClassTypeId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="YearTermId" asp-required="true" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <select asp-for="YearTermId" asp-items="@ViewBag.YearTermId" class="form-control">
                            <option value="">-请选择学年/学期-</option>
                        </select>
                        <span asp-validation-for="YearTermId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="TrainClassId" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <select asp-for="TrainClassId" class="form-control" asp-items="ViewBag.TrainClasses">
                            <option>-请选择培训班-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="PotentialMemberTime" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input id="PotentialMemberTime" name="PotentialMemberTime" class="form-control" placeholder="yyyy-MM-dd" readonly />
                        <span asp-validation-for="PotentialMemberTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
