@model IEnumerable<PartyMemberManager.Dal.Entities.PotentialMember>

@{
    ViewData["Title"] = "Index";
}

<div class="layui-form-item" style="background-color:#f8f8f8;padding:8px 5px 3px 5px;margin-bottom:10px;border-radius:2px;display:flex;justify-content:flex-start;flex-wrap: wrap;">
    <input type="hidden" id="TrainClassTypeId" value="@ViewBag.TrainClassTypeId" />
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px">学年/学期:</label>
        <div class="layui-input-inline" style="width:240px">
            <select name="YearTermId" asp-items="@ViewBag.YearTermId" class="layui-input" id="YearTermId">
                <option value="">-请选择学年/学期-</option>
            </select>
        </div>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div style="display:inline-block">
            <label class="layui-form-label" style="padding:5px;width:60px">部门:</label>
            <div class="layui-input-inline" style="width:200px">
                <select name="DepartmentId" asp-items="@ViewBag.DepartmentId" class="layui-input" id="DepartmentId">
                    <option value="">-请选择部门-</option>
                </select>
            </div>
        </div>
    }
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px;width:60px">培训班:</label>
        <div class="layui-input-inline" style="width:240px">
            <select name="TrainClassId" asp-items="@ViewBag.TrainClassId" class="layui-input" id="TrainClassId">
                <option value="">-请选择培训班-</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px;width:60px">类型:</label>
        <div class="layui-input-inline" style="width:120px">
            <select name="partyMemberType" asp-items="@Html.GetEnumSelectList(typeof(PartyMemberType))" class="layui-input" id="partyMemberType">
                <option value="">-请选择类型-</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:200px">
            <input name="name" type="text" class="layui-input" placeholder="请输入学号/工号/姓名" id="keyword" />
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="tablefilter()">
                <i class="layui-icon layui-icon-search" style="font-size: 14px; color: #FFFFFF;"></i>查询
            </a>
        </div>
    </div>
</div>
<table class="layui-hide" id="datatable"></table>
<div style="margin-top: 10px">
    <div class="layui-input-inline" style="width:80px">
        <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="batchDelete()" data-type="batchDelete">
            <i class="layui-icon layui-icon-delete" style="font-size: 14px; color: #FFFFFF;"></i>批量删除
        </a>
    </div>
</div>
@Html.AntiForgeryToken()
<link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script type="text/javascript">
        var tableObject = null;
        $(document).ready(function () {
            $("body").width("100%");
            $(window).resize(function () {
                $("body").width("100%");
            });
            $("#YearTermId").change(function () {
                filterTrainClass();
            });
            $("#DepartmentId").change(function () {
                filterTrainClass();
            });
            filterTrainClass();
            InitTable();
        });

        function Delete(id) {
            var url="@Url.Action("Delete")";
            DeleteData(url, id, function () {
                tableObject.reload();
            });
        }
        /**
        * 数据上移
        * @@param id
        */
        function ItemUp(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,true,
                function () {
                    RefreshTable();
            });
        }
        /**
         * 数据下移
         * @@param id
         */
        function ItemDown(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,false,
                function () {
                    RefreshTable();
            });
        }
        /**刷新表格 */
        function RefreshTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('dataGrid', {
                    url: '@Url.Action("GetDatasWithFilter")'
                });
            });
        }
        function InitTable() {
            layui.use('table', function () {
                var table = layui.table;

                tableObject = table.render({
                    elem: '#datatable'
                    , url: '@Url.Action("GetDatasWithFilter")'
                    , page: true //开启分页
                    , limits: [10, 20, 50]
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , id: 'dataGrid'
                    , cols: [[
                        { type: 'checkbox' },
                        { field: 'yearTerm', title: '学年/学期', align: 'center', templet: '#optYearTermTpl' },
                        { field: 'trainClassDisplay', title: '培训班', align: 'center', templet: '#optTrainClassNameTpl' },
                        { field: 'name', title: '姓名', align: 'center' },
                        { field: 'jobNo', title: '工号/学号', align: 'center' },
                        { field: 'idNumber', title: '身份证号', align: 'center' },
                        { field: 'sexDisplay', title: '性别', align: 'center' },
                        { field: 'partyMemberTypeDisplay', title: '类别', align: 'center' },
                        { field: 'departmentDisplay', title: '所属部门', align: 'center', templet: '#optDepartmentNameTpl' },
                        { field: 'class', title: '班级', align: 'center' },
                        { field: 'applicationTime', title: '提交入党申请时间', align: 'center', templet: function (d) { return formatDate(d.applicationTime, 'yyyy-MM-dd'); } },
                        { field: 'activeApplicationTime', title: '确定为入党积极分子时间', align: 'center', templet: function (d) { return formatDate(d.activeApplicationTime, 'yyyy-MM-dd'); } },
                        { field: 'potentialMemberTime', title: '列为发展对象时间', align: 'center', templet: function (d) { return formatDate(d.potentialMemberTime, 'yyyy-MM-dd'); }  },
                        { field: 'id', title: '操作', align: 'center', templet: '#optTpl' }
                    ]]
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /**过滤数据 */
        function tablefilter() {
            //此处Id不要#号
            var tableId = "dataGrid";
            layui.use('table', function () {
                var table = layui.table;
                table.reload(tableId, {
                    url: '@Url.Action("GetDatasWithFilter")'
                    , where: {
                        yearTermId: $("#YearTermId").val(),
                        departmentId: $("#DepartmentId").val(),
                        trainClassId: $("#TrainClassId").val(),
                        partyMemberType: $("#partyMemberType").val(),
                        keyword: $("#keyword").val()
                    }
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }

        /**显示隐藏滚动条 */
        function showHideScrollBars(count) {
            if (count > 11) {
                $("body").css("overflow-y", "auto");
            }
            else {
                $("body").css("overflow-y", "hidden");
                $(document).scrollTop(0);
            }
        }
        /**显示操作菜单 */
        function showOperatMenu(event, id,isPrint,curUser) {
            var contextMenu = new ContextMenu();
            if (curUser != "学院党委") {
                contextMenu.addMenuItem("编辑", function () {
                    showEdit('@Url.Action("Edit")' + '/' + id, '@Url.Action("Save")', '编辑', 600, 650);
                })
                contextMenu.addMenuItem("删除", function () {
                    Delete(id);
                })
            }
            else if (isPrint=="false") {
                contextMenu.addMenuItem("编辑", function () {
                    showEdit('@Url.Action("Edit")' + '/' + id, '@Url.Action("Save")', '编辑', 600, 650);
                })
                contextMenu.addMenuItem("删除", function () {
                    Delete(id);
                })

            }
            contextMenu.addMenuItem("上移", function () {
                ItemUp(id);
            })
            contextMenu.addMenuItem("下移", function () {
                ItemDown(id);
            })
            contextMenu.showMenu(event);
        }
    </script>
    <script type="text/html" id="optTpl">
        <a class="operate" href="javascript:;" onmousedown="showOperatMenu(event,'{{d.id}}','{{d.isPrint}}','@CurrentUser.Roles')" style="padding-left:10px;padding-right:10px;">
            <img src="~/images/gridmenu1x.png" />
        </a>
    </script>
    <script type="text/html" id="optDepartmentNameTpl">
        {{d.departmentDisplay}}
    </script>
    <script type="text/html" id="optNationNameTpl">
        {{d.nationDisplay}}
    </script>
    <script type="text/html" id="optTrainClassNameTpl">
        {{d.trainClassDisplay}}
    </script>
    <script type="text/html" id="optYearTermTpl">
        {{d.yearTermDisplay}}
    </script>
    <script>
        function filterTrainClass() {
            var url = '@Url.Action("GetTrainClassDatas")';
            var yearTermId = $("#YearTermId").val();
            var trainClassTypeId = $("#TrainClassTypeId").val();
            var departmentId = $("#DepartmentId").val();
            var where = { trainClassTypeId:trainClassTypeId,yearTermId: yearTermId, departmentId: departmentId };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请选择培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#TrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
    </script>
    <script>
         /*批量删除*/
        function batchDelete() {
            var datas = "";
            try {
                layui.use('table', function () {
                    var table = layui.table;
                    var checkData = table.checkStatus('dataGrid').data;
                    for (i = 0; i < checkData.length; i++) {
                        datas += checkData[i].id + ",";
                    }
                });
                if (datas == "")
                    layer.msg("请选择要删除的入党积极分子");
                else {
                    layer.confirm("批量删除发展对象将删除成绩，不可恢复！", {
                        btn: ['确定', '取消']
                    }, function () {
                        datas = datas.substring(0, datas.length - 1);
                        $.ajax({
                        type: 'post',
                        url: '@Url.Action("BatchDelete")',
                        data: { idList: datas },
                        dataType: 'json',
                        success: function (data) {
                            layer.msg(data.message);
                            tablefilter();
                        }
                    });
                    });
                }
            }
            catch (error) {
                showError(error.message);
            }
          }
    </script>
}

