@model PartyMemberManager.Dal.Entities.ActivistTrainResult

        @{
        Layout = "_LayoutEmpty";
        ViewData["Title"] = "Details";
        }
        
        <h1>详细信息</h1>
        
<div>
    <h4>ActivistTrainResult</h4>
    <hr />
    <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PartyActivist)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PartyActivist.ActiveApplicationTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TrainClass)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TrainClass.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PsGrade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PsGrade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CsGrade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CsGrade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TotalGrade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TotalGrade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsPass)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsPass)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsPrint)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsPrint)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PrintTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PrintTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OperatorId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OperatorId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ordinal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ordinal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsDeleted)
                    </dd>
    </dl>
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">返回</a>
</div>
