@model PartyMemberManager.Dal.Entities.PartyActivist

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>你确信要删除吗?</h3>
<div>
    <h4>PartyActivist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveApplicationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveApplicationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartyMemberType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartyMemberType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Code)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
