@model PartyActivistImportViewModel
<form action="@Url.Action("Import")" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassTypeId" asp-required="false" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="TrainClassTypeId" asp-items="@ViewBag.TrainClassTypeId" class="layui-input">
                    <option value="">-请选择培训班类型-</option>
                </select>
                <span asp-validation-for="TrainClassTypeId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="YearTermId" asp-required="false" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="YearTermId" asp-items="@ViewBag.YearTermId" class="layui-input">
                    <option value="">-请选择学期-</option>
                </select>
                <span asp-validation-for="YearTermId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div class="form-group">
            <div class="row">
                <div class="@LabelDivDefaultClass">
                    <label asp-for="DepartmentId" asp-required="false" class="control-label"></label>
                </div>
                <div class="@InputDivDefaultClass">
                    <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="layui-input">
                        <option value="">-请选择部门-</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <input asp-for="DepartmentId" type="hidden" />
    }
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassId" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="TrainClassId" asp-items="@ViewBag.TrainClasses" class="layui-input">
                    <option value="">-请培训班-</option>
                </select>
                <span asp-validation-for="TrainClassId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="File" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="File" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="layui-input" />
                <span asp-validation-for="TrainClassId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
</form>
    @section Scripts{
        <script type="text/javascript">
        $(document).ready(function () {
            $("#TrainClassTypeId").change(function () {
                filterTrainClass();
            });
            $("#YearTermId").change(function () {
                filterTrainClass();
            });
            $("#DepartmentId").change(function () {
                filterTrainClass();
            });
            filterTrainClass();
        });
        /**过滤培训班 */
        function filterTrainClass() {
            var url = '@Url.Action("GetTrainClassDatas")';
            var trainClassTypeId = $("#TrainClassTypeId").val();
            var yearTermId = $("#YearTermId").val();
            var departmentId = $("#DepartmentId").val();
            var where = { trainClassTypeId: trainClassTypeId, yearTermId: yearTermId, departmentId: departmentId };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#TrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
        </script>
    }