@model PartyActivistImportViewModel
<form action="">
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassTypeId" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="TrainClassTypeId" asp-items="@ViewBag.TrainClassTypeId" class="layui-input">
                    <option value="">-请选择培训班类型-</option>
                </select>
                <span asp-validation-for="TrainClassTypeId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="YearBegin" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <div>
                    <input asp-for="YearBegin" class="layui-input" style="float:left;width:80px" />
                    <span style="float:left;">—</span>
                    <input asp-for="YearEnd" class="layui-input" style="float:left;width:80px" readonly="readonly" />
                    <span style="float:left;">学年</span>
                </div>
                <span asp-validation-for="YearBegin" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="Term" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="Term" asp-items="@Html.GetEnumSelectList(typeof(Term))" class="layui-input">
                    <option value="">-请选择学期-</option>
                </select>
                <span asp-validation-for="Term" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div class="form-group">
            <div class="row">
                <div class="@LabelDivDefaultClass">
                    <label asp-for="DepartmentId" asp-required="true" class="control-label"></label>
                </div>
                <div class="@InputDivDefaultClass">
                    <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="layui-input">
                        <option value="">-请选择部门-</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <input asp-for="DepartmentId" type="hidden" />
    }
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassId" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="TrainClassId" asp-items="@ViewBag.TrainClasses" class="layui-input">
                    <option value="">-请培训班-</option>
                </select>
                <span asp-validation-for="TrainClassId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label for="file" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input id="file" name="file" type="file" class="layui-input" />
            </div>
        </div>
    </div>
</form>
    @section Scripts{
        <script type="text/javascript">
        $(document).ready(function () {
            $("#TrainClassTypeId").change(function () {
                filterTrainClass();
            });
            $("#YearBegin").change(function () {
                var year = parseInt($(this).val());
                $("#YearEnd").val(year + 1);
                filterTrainClass();
            });
            $("#Term").change(function () {
                filterTrainClass();
            });
            $("#DepartmentId").change(function () {
                filterTrainClass();
            });
            filterTrainClass();
        });
        /**过滤培训班 */
        function filterTrainClass() {
            var url = '@Url.Action("GetTrainClassDatas")';
            var trainClassTypeId = parseInt($("#TrainClassTypeId").val());
            var year = parseInt($("#YearBegin").val());
            var term = parseInt($("#Term").val());
            var departmentId = parseInt($("#DepartmentId").val());
            var where = { trainClassTypeId: trainClassTypeId, year: year, term: term, departmentId: departmentId };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#TrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
        </script>
    }