@model IEnumerable<PartyMemberManager.Dal.Entities.PartyActivist>

@{
    ViewData["Title"] = "Index";
}
<div class="layui-form-item" style="background-color:#f8f8f8;padding:8px 5px 3px 5px;margin-bottom:10px;border-radius:2px">
    <div class="layui-input-inline" style="width:60px">
        <a href="javascript:showEdit('@Url.Action("Create")','@Url.Action("Save")','添加',800,900)" class="layui-btn layui-btn-primary">+添加</a>
    </div>
    <div>
        <label class="layui-form-label" style="padding:5px">年份:</label>
        <div class="layui-input-inline" style="width:80px">
            <input name="Year" type="text" class="layui-input" id="kwyear" placeholder="yyyy" style="width:80px;" />
        </div>
    </div>
    <div>
        <label class="layui-form-label" style="padding:5px">学期:</label>
        <div class="layui-input-inline" style="width:120px">
            <select name="term" asp-items="@Html.GetEnumSelectList(typeof(Term))" class="layui-input" id="term">
                <option value="">-请选择学期-</option>
            </select>
        </div>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div>
            <label class="layui-form-label" style="padding:5px">部门:</label>
            <div class="layui-input-inline" style="width:200px">
                <select name="DepartmentId" asp-items="@ViewBag.Departments" class="layui-input" id="department">
                    <option value="">-请选择部门-</option>
                </select>
            </div>
        </div>
    }
    <div>
        <label class="layui-form-label" style="padding:5px">类型:</label>
        <div class="layui-input-inline" style="width:120px">
            <select name="partyMemberType" asp-items="@Html.GetEnumSelectList(typeof(PartyMemberType))" class="layui-input" id="partyMemberType">
                <option value="">-请选择类型-</option>
            </select>
        </div>
    </div>
    <div>
        <div class="layui-input-inline" style="width:300px">
            <input name="name" type="text" class="layui-input" placeholder="请输入学号/工号/姓名" id="keyword" />
        </div>
    </div>
    <div>
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="tablefilter()">
                <i class="layui-icon layui-icon-search" style="font-size: 14px; color: #FFFFFF;"></i>查询
            </a>
        </div>
    </div>
    <div>
        <div class="layui-input-inline" style="width:120px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="importExcel()">
                <i class="layui-icon layui-icon-loading" style="font-size: 14px; color: #FFFFFF;"></i>导入Excel
            </a>
        </div>
    </div>
</div>
<table class="layui-hide" id="datatable"></table>
@Html.AntiForgeryToken()
<link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script type="text/javascript">
        var tableObject = null;
        $(document).ready(function () {
            $("body").width($(window).width());
                InitTable();
        });

        function Delete(id) {
            var url="@Url.Action("Delete")";
            DeleteData(url, id, function () {
                tableObject.reload();
            });
        }
        /**
        * 数据上移
        * @@param id
        */
        function ItemUp(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,true,
                function () {
                    RefreshTable();
            });
        }
        /**
         * 数据下移
         * @@param id
         */
        function ItemDown(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,false,
                function () {
                    RefreshTable();
            });
        }
        /**刷新表格 */
        function RefreshTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('dataGrid', {
                    url: '@Url.Action("GetDatasWithFilter")'
                });
            });
        }
        function InitTable() {
            layui.use('table', function () {
                var table = layui.table;

                tableObject = table.render({
                    elem: '#datatable'
                    , url: '@Url.Action("GetDatasWithFilter")'
                    , page: true //开启分页
                    , limits: [10, 20, 50]
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , id: 'dataGrid'
                    , cols: [[
                        { type: 'checkbox' }
                        ,
                        { field: 'year', title: '年份', align: 'center', templet: '#optYearTpl'},
                        { field: 'termDisplay', title: '学期', align: 'center', templet: '#optTermTpl' },
                        { field: 'trainClassDisplay', title: '培训班', align: 'center', templet: '#optTrainClassNameTpl' },
                        { field: 'name', title: '姓名', align: 'center' },
                        { field: 'jobNo', title: '学号/工号', align: 'center' },
                        { field: 'idNumber', title: '身份证号', align: 'center'},
                        { field: 'sexDisplay', title: '性别', align: 'center' },
                        { field: 'birthDate', title: '出生年月', align: 'center' },
                        { field: 'nationDisplay', title: '民族', align: 'center', templet: '#optNationNameTpl' },
                        { field: 'phone', title: '电话', align: 'center' },
                        { field: 'partyMemberTypeDisplay', title: '类别', align: 'center' },
                        { field: 'departmentDisplay', title: '所属部门', align: 'center', templet: '#optDepartmentNameTpl' },
                        { field: 'class', title: '班级', align: 'center' },
                        { field: 'applicationTime', title: '提交入党申请时间', align: 'center' },
                        { field: 'activeApplicationTime', title: '确定为入党积极分子时间', align: 'center' },
                        { field: 'duty', title: '职务', align: 'center' },
                        { field: 'id', title: '操作', align: 'center', templet: '#optTpl' }
                    ]]
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
                table.on('row(dataGrid)', function (obj) {
                    var data = obj.data;
                    layer.alert(JSON.stringify(data), {
                        title: '当前行数据：'
                    });
                });
            });
        }
                /**过滤数据 */
        function tablefilter() {
            //此处Id不要#号
            var tableId = "dataGrid";
            layui.use('table', function () {
                var table = layui.table;
                table.reload(tableId, {
                    url: '@Url.Action("GetDatasWithFilter")'
                    , where: {
                        year: $("#kwyear").val(),
                        departmentId: $("#department").val(),
                        keyword: $("#keyword").val(),
                        term: $("#term").val(),
                        partyMemberType: $("#partyMemberType").val()
                    }
                    , done: function (res, curr, count) {
                        fillPatientList(res,curr,count);showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /**显示隐藏滚动条 */
        function showHideScrollBars(count) {
            if (count > 11) {
                $("body").css("overflow-y", "auto");
            }
            else {
                $("body").css("overflow-y", "hidden");
                $(document).scrollTop(0);
            }
        }
        /**显示操作菜单 */
        function showOperatMenu(event, id) {
            var contextMenu = new ContextMenu();
            contextMenu.addMenuItem("编辑", function () {
                showEdit('@Url.Action("Edit")'+'/' + id, '@Url.Action("Save")', '编辑', 800, 900);
            })
            contextMenu.addMenuItem("删除", function () {
                Delete(id);
            })
            contextMenu.addMenuItem("上移", function () {
                ItemUp(id);
            })
            contextMenu.addMenuItem("下移", function () {
                ItemDown(id);
            })
            contextMenu.showMenu(event);
        }

        function importExcel() {
            showImport('@Url.Action("Import")', '@Url.Action("Import")', '编辑', 400, 500, function () { location.reload(); });
        }
    </script>
    <script type="text/html" id="optTpl">
        <a class="operate" href="javascript:;" onmousedown="showOperatMenu(event,'{{d.id}}')" style="padding-left:10px;padding-right:10px;">
            <img src="~/images/gridmenu1x.png" />
        </a>
    </script>
    <script type="text/html" id="optDepartmentNameTpl">
        {{d.departmentDisplay}}
    </script>
    <script type="text/html" id="optNationNameTpl">
        {{d.nationDisplay}}
    </script>
    <script type="text/html" id="optTrainClassNameTpl">
        {{d.trainClassDisplay}}
    </script>
    <script type="text/html" id="optTermTpl">
        {{d.trainClassTermDisplay}}
    </script>
    <script type="text/html" id="optYearTpl">
        {{d.trainClassYearDisplay}}
    </script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#kwyear',
                type: 'year',
            });
        });
    </script>

}