@{
    Layout = "_LayoutParent";
}
@*<a class="" href="@Url.Action("Logout","Account")">注销</a>*@

@RenderBody()

@section Scripts{
    @RenderSection("Scripts", required: false)
<script type="text/javascript">
        //修改个人信息
        function editOperator() {
            showEdit('@Url.Action("EditOperator","Account")', '@Url.Action("SaveOperator","Account")', '个人信息', 380, 380);
        }
        //显示关于信息
        function showAbout() {
            showContent('@Url.Action("About","Home")', '关于', 380, 240);
        }
</script>
}