@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .content-container {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .panelmenu {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 202px;
        border-top: 1px solid #e5e5e5;
    }

    .rightContent {
        position: fixed;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 205px;
        overflow-y: auto;
        padding-top: 5px;
    }
</style>
<partial name="_PartialHeader" model="true" />
<div class="row content-container" id="panelContent">
    <div class="panelmenu offset-top" id="leftSideBar">
        <aside>
            <partial name="_LeftMenu" model="@Model" />
        </aside>
    </div>
    <div class="rightContent" id="rightContent">
        <main role="main" class="pb-3">
            <iframe id="mainframe" name="mainframe" frameborder="0" style="overflow:visible" scrolling="no" src="@Url.Action("RightIndex","Home")"></iframe>
        </main>
    </div>
</div>
<partial name="_PartialScripts" />
<partial name="_ValidationScriptsPartial" />

@section Scripts{
    <link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script type="text/javascript">
        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            element.render();
        });
    </script>
    <script type="text/javascript">

        /**
         * 打开连接
         * @@param element
         */
        function openLink(href) {
            $("#mainframe").attr("src", href);
        }
        /**显示个人菜单 */
        function showProfileMenu(event) {
            var contextMenu = new ContextMenu();
            contextMenu.addMenuItem("个人信息", function () {
                editOperator();
            })
            contextMenu.addMenuItem("注销", function () {
                logout();
            })
            contextMenu.showMenu(event);
        }
        /**编辑操作员信息 */
        function editOperator() {
            showEdit('@Url.Action("EditOperator", "Account")', '@Url.Action("SaveOperator", "Account")', '个人信息', 380, 380);
        }
        /**注销 */
        function logout() {
            var url = "@Url.Action("LogoutByAjax", "Account")";
            $.ajax({
                url: url,
                data: {},
                dataType: "json",
                type: "POST",
                error: function () {
                    showError("注销失败");
                },
                success: function () {
                    location.reload();
                },
                complete: function () { }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var iframeHeight = function () {
                var _height = $(window).height() - 90;
                var _width = $(window).width() - 220;
                $('#mainframe').height(_height);
                $('#mainframe').width(_width);
            }
            window.onresize = iframeHeight;
            $(function () {
                iframeHeight();
            });

        });
    </script>
}