@model PartyMemberManager.Dal.Entities.SchoolCadreTrain
@{
    var trainTime = Model.TrainTime.HasValue ? string.Format("{0:yyyy-MM-dd}", Model.TrainTime.Value.Date) : null;
}
<form asp-action="Create">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">培训信息</li>
            <li>个人信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="YearTermId"   asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <select asp-for="YearTermId" class="form-control" asp-items="ViewBag.YearTermId">
                                <option>-请选择学年/学期-</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="Organizer"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="Organizer" class="form-control" />
                            <span asp-validation-for="Organizer" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="TrainOrganizational"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="TrainOrganizational" class="form-control" />
                            <span asp-validation-for="TrainOrganizational" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="TrainTime"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input id="TrainTime" name="TrainTime"  class="form-control" placeholder="yyyy-MM-dd" readonly value="@trainTime" />
                            <span asp-validation-for="TrainTime" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="TrainDuration"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="TrainDuration" class="form-control" />
                            <span asp-validation-for="TrainDuration" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="DepartmentId"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                                <option>-请选择部门-</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="Name"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="IdNumber"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="IdNumber" class="form-control" />
                            <span asp-validation-for="IdNumber" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="Sex"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <select asp-for="Sex" asp-items="@Html.GetEnumSelectList(typeof(Sex))" class="form-control">
                                <option>-请选择性别-</option>
                            </select>
                            <span asp-validation-for="Sex" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="Phone"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="@LabelDivDefaultClass">
                            <label asp-for="Post"  asp-required="true" class="control-label"></label>
                        </div>
                        <div class="@InputDivDefaultClass">
                            <input asp-for="Post" class="form-control" />
                            <span asp-validation-for="Post" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>