@model PartyMemberManager.Dal.Entities.SchoolCadreTrain
@{
    var trainTime = Model.TrainTime.HasValue ? string.Format("{0:yyyy-MM-dd}", Model.TrainTime.Value.Date) : null;
    var endTrainTime = Model.EndTrainTime.HasValue ? string.Format("{0:yyyy-MM-dd}", Model.EndTrainTime.Value.Date) : null;
}
<form asp-action="Create">
    <input asp-for="Id" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="Year" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="Year" class="form-control" readonly value="@Model.Year" />
                <span asp-validation-for="Year" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="Name" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassName" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="TrainClassName" class="form-control" />
                <span asp-validation-for="TrainClassName" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="Organizer" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="Organizer" class="form-control" />
                <span asp-validation-for="Organizer" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainOrganizational" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="TrainOrganizational" class="form-control" />
                <span asp-validation-for="TrainOrganizational" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainTime" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input id="TrainTime" name="TrainTime" class="form-control" placeholder="yyyy-MM-dd" readonly value="@trainTime" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="EndTrainTime" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input id="EndTrainTime" name="EndTrainTime" class="form-control" placeholder="yyyy-MM-dd" readonly value="@endTrainTime" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainAddress" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="TrainAddress" class="form-control" />
                <span asp-validation-for="TrainAddress" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainDuration" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="TrainDuration" class="form-control" readonly />
                <span asp-validation-for="TrainDuration" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="ClassHour" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="ClassHour" class="form-control" />
                <span asp-validation-for="ClassHour" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
</form>

