@model PartyMemberManager.Dal.Entities.YearTerm
@{ 
    var startTime = Model.StartTime.HasValue ? string.Format("{0:yyyy-MM-dd}", Model.StartTime.Value.Date) : null;
    var endTime = Model.EndTime.HasValue ? string.Format("{0:yyyy-MM-dd}", Model.EndTime.Value.Date) : null;
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="StartYear" asp-required="true" class="control-label"></label>
                    </div>
                    <div>
                        <input asp-for="StartYear" class="form-control" style="float:left;width:70px" />
                        <span style="float:left;padding:5px 5px;">—</span>
                        <input asp-for="EndYear" class="form-control" style="float:left;width:70px" readonly="readonly" />
                        <span style="float:left;padding:5px 5px">学年</span>
                        <span asp-validation-for="StartYear" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="Term" asp-required="true" class="control-label"></label>
                    </div>
                    <div>
                        <select asp-for="Term" asp-items="@Html.GetEnumSelectList(typeof(Term))" class="form-control" style="width:165px;">
                            <option>-请选择学期-</option>
                        </select>
                        <span asp-validation-for="Term" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="Enabled" asp-required="false" class="control-label"></label>
                    </div>
                    <div class="form-check @InputDivDefaultClass" style="padding-left: 0px;">
                        <div class="layui-form">
                            <div class="layui-form-item" style="margin-bottom:0px;margin-top:-4px">
                                <input type="checkbox" name="Enabled" lay-skin="primary" value="true" title="" @(Model.Enabled ? "checked" : "")>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="EnabledQuery" asp-required="false" class="control-label"></label>
                    </div>
                    <div class="form-check @InputDivDefaultClass" style="padding-left: 0px;">
                        <div class="layui-form">
                            <div class="layui-form-item" style="margin-bottom:0px;margin-top:-4px">
                                <input type="checkbox" name="EnabledQuery" lay-skin="primary" value="true" title="" @(Model.EnabledQuery ? "checked" : "")>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="StartTime" asp-required="false" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input id="StartTime" name="StartTime" class="form-control" placeholder="yyyy-MM-dd" readonly value="@startTime" />
                        @*<span asp-validation-for="BirthDate" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>*@
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="EndTime" asp-required="false" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input id="EndTime" name="EndTime" class="form-control" placeholder="yyyy-MM-dd" readonly value="@endTime" />
                        @*<span asp-validation-for="BirthDate" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>