@model PartyMemberManager.Dal.Entities.ActiveApplicationSurvey
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="YearTermId" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <select asp-for="YearTermId" class="form-control" asp-items="@ViewBag.YearTermId"></select>
            <span asp-validation-for="YearTermId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="Batch" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <select asp-for="Batch" asp-items="@Html.GetEnumSelectList(typeof(BatchType))" class="form-control">
                <option>-请选择批次-</option>
            </select>
            @*<span asp-validation-for="Sex" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>*@
        </div>
    </div>
</div>
@if (CurrentUser.Roles > Role.学院党委)
{
    <div class="form-group" id="DepartmentContainer">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="DepartmentId" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="DepartmentId" asp-items="@ViewBag.DepartmentId" class="form-control">
                    <option value="">-请选择部门-</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
}
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="PartyMemberType" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <select asp-for="PartyMemberType" asp-items="@Html.GetEnumSelectList(typeof(PartyMemberType))" class="form-control">
                <option>-请选择类型-</option>
            </select>
            @*<span asp-validation-for="PartyMemberType" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>*@
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="Total" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="Total" class="form-control" />
            <span asp-validation-for="Total" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="TrainTotal" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="TrainTotal" class="form-control" />
            <span asp-validation-for="TrainTotal" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="@LabelDivDefaultClass">
            <label asp-for="Proportion" asp-required="true" class="control-label"></label>
        </div>
        <div class="@InputDivDefaultClass">
            <input asp-for="Proportion" class="form-control" readonly />
            @*<span asp-validation-for="Proportion" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>*@
        </div>
    </div>
</div>