@model IEnumerable<PartyMemberManager.Dal.Entities.ActiveApplicationSurvey>

@{
    Layout = "_LayoutEdit";
    ViewData["Title"] = "Index";
}
<div class="layui-form-item" style="background-color:#f8f8f8;padding:8px 5px 3px 5px;margin-bottom:10px;border-radius:2px">
    <div class="layui-input-inline" style="width:80px">
        <a href="javascript:showEdit('@Url.Action("Create")','@Url.Action("Save")','添加',500,400)" class="layui-btn layui-btn-primary">+添加</a>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div>
            <label class="layui-form-label" style="padding:5px;width:60px">部门:</label>
            <div class="layui-input-inline" style="width:300px">
                <select name="departmentId" asp-items="@ViewBag.Departments" class="layui-input" id="departmentId">
                    <option value="">-请选择部门-</option>
                </select>
            </div>
        </div>
    }
    <div>
        <label class="layui-form-label" style="padding:5px">学年/学期:</label>
        <div class="layui-input-inline" style="width:240px">
            <select name="yearTermId" asp-items="@ViewBag.YearTermId" class="layui-input" id="yearTermId">
                <option value="">-请选择学年/学期-</option>
            </select>
        </div>
    </div>
    <div>
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="tablefilter()">
                <i class="layui-icon layui-icon-search" style="font-size: 14px; color: #FFFFFF;"></i>查询
            </a>
        </div>
    </div>
</div>
<table class="layui-hide" id="datatable"></table>
@Html.AntiForgeryToken()
<link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script type="text/javascript">
        var tableObject = null;
        $(document).ready(function () {
            $("body").width($(window).width());
            InitTable();
        });
        function Delete(id) {
            var url="@Url.Action("Delete")";
            DeleteData(url, id, function () {
                tableObject.reload();
            });
        }
        /**
        * 数据上移
        * @@param id
        */
        function ItemUp(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,true,
                function () {
                    RefreshTable();
            });
        }
        /**
         * 数据下移
         * @@param id
         */
        function ItemDown(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,false,
                function () {
                    RefreshTable();
            });
        }
        /**刷新表格 */
        function RefreshTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('dataGrid', {
                    url: '@Url.Action("GetDatasWithFilter")'
                });
            });
        }
        function InitTable() {
            layui.use('table', function () {
                var table = layui.table;
                tableObject = table.render({
                    elem: '#datatable'
                    //此处的id就是为后面使用设置的
                    , id: 'dataGrid'
                    , url: '@Url.Action("GetDatasWithFilter")'
                    , page: true //开启分页
                    , limits: [10,20, 50]
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , cols: [[
                        //{ type: 'checkbox' }
                        //,
                        { field: 'yearTermDisplay', title: '学年/学期', align: 'center' },
                        { field: 'schoolAreaDisplay', title: '所属校区', align: 'center' },
                        { field: 'departmentDisplay', title: '所属部门', align: 'center', templet: '#optDepartmentNameTpl' },
                        { field: 'total', title: '总人数', align: 'center' },
                        { field: 'trainTotal', title: '培训总人数', align: 'center' },
                        { field: 'proportion', title: '比例', align: 'center', templet: function (d) { return formatDate(d.proportion, (d.proportion * 100).toFixed(2).toString() + '%'); } },
                        { field: 'createTime', title: '创建时间', align: 'center', templet: function (d) { return formatDate(d.createTime, 'yyyy-MM-dd'); } },
                        { field: 'id', title: '操作', width: '80', align: 'center', templet: '#optTpl' }
                    ]]
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /**过滤数据 */
        function tablefilter() {
            //此处Id不要#号
            var tableId = "dataGrid";
            layui.use('table', function () {
                var table = layui.table;
                table.reload(tableId, {
                    url: '@Url.Action("GetDatasWithFilter")'
                    , where: {
                        yearTermId: $("#yearTermId").val(),
                        departmentId: $("#departmentId").val(),
                    }
                    , done: function (res, curr, count) {
                        fillPatientList(res,curr,count);showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /**显示隐藏滚动条 */
        function showHideScrollBars(count) {
            if (count > 11) {
                $("body").css("overflow-y", "auto");
            }
            else {
                $("body").css("overflow-y", "hidden");
                $(document).scrollTop(0);
            }
        }
        /**显示操作菜单 */
        function showOperatMenu(event, id) {
            var contextMenu = new ContextMenu();
            contextMenu.addMenuItem("编辑", function () {
                showEdit('@Url.Action("Edit")'+'/' + id, '@Url.Action("Save")', '编辑', 500, 400);
            })
            contextMenu.addMenuItem("删除", function () {
                Delete(id);
            })
            contextMenu.addMenuItem("上移", function () {
                ItemUp(id);
            })
            contextMenu.addMenuItem("下移", function () {
                ItemDown(id);
            })
            contextMenu.showMenu(event);
        }
    </script>
    <script type="text/html" id="optTpl">
        <a class="operate" href="javascript:;" onmousedown="showOperatMenu(event,'{{d.id}}')" style="padding-left:10px;padding-right:10px;">
            <img src="~/images/gridmenu1x.png" />
        </a>
    </script>
    <script type="text/html" id="optDepartmentNameTpl">
        {{d.departmentDisplay}}
    </script>
}

