@model PartyActivistImportViewModel

@{
    Guid trainClassTypeId = (Guid)ViewBag.TrainClassTypeId;
}
<form action="@Url.Action("Import")" method="post" enctype="multipart/form-data" style="margin-top:20px;">
    @*<div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassTypeId" asp-required="false" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="TrainClassTypeId" asp-items="@ViewBag.TrainClassTypeId" class="form-control">
                    <option value="">-请选择培训班类型-</option>
                </select>
                <span asp-validation-for="TrainClassTypeId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>*@
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="YearTermId" asp-required="false" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="YearTermId" asp-items="@ViewBag.YearTermId" class="form-control">
                    <option value="">-请选择学年/学期-</option>
                </select>
                <span asp-validation-for="YearTermId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div class="form-group">
            <div class="row">
                <div class="@LabelDivDefaultClass">
                    <label asp-for="DepartmentId" asp-required="false" class="control-label"></label>
                </div>
                <div class="@InputDivDefaultClass">
                    <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="form-control">
                        <option value="">-请选择部门-</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <input asp-for="DepartmentId" type="hidden" />
    }
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="TrainClassId" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <select asp-for="TrainClassId" asp-items="@ViewBag.TrainClasses" class="form-control">
                    <option value="">-请培训班-</option>
                </select>
                <span asp-validation-for="TrainClassId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="@LabelDivDefaultClass">
                <label asp-for="File" asp-required="true" class="control-label"></label>
            </div>
            <div class="@InputDivDefaultClass">
                <input asp-for="File" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control" />
                <span asp-validation-for="TrainClassId" class="text-danger validate-message-offset @ValidateSpanDefaultClass"></span>
            </div>
        </div>
    </div>
</form>

<div style="margin-left:20px;margin-top:10px;">
    <div>下载模板：</div>
    <div style="margin-left:20px;">
        <a href="@Url.Action("ExcelTemplates","Download",new { fileName="入党积极分子培训成绩模板.xlsx"})" style="display:block">入党积极分子培训成绩模板</a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#TrainClassTypeId").change(function () {
            //    filterTrainClass();
            //});
            $("#YearTermId").change(function () {
                filterTrainClass();
            });
            $("#DepartmentId").change(function () {
                filterTrainClass();
            });
            filterTrainClass();
        });
        /**过滤培训班 */
        function filterTrainClass() {
            var url = '@Url.Action("GetTrainClassDatas")';
            var trainClassTypeId = '@trainClassTypeId';
            var yearTermId = $("#YearTermId").val();
            var departmentId = $("#DepartmentId").val();
            var where = { trainClassTypeId: trainClassTypeId, yearTermId: yearTermId, departmentId: departmentId };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请选择培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#TrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
    </script>
}
