@model IEnumerable<PartyMemberManager.Dal.Entities.PotentialTrainResult>

@{
    ViewData["Title"] = "Index";
}

<div class="layui-form-item" style="background-color:#f8f8f8;padding:8px 5px 3px 5px;margin-bottom:10px;border-radius:2px;display:flex;justify-content:flex-start;flex-wrap: wrap;">
    @*<div class="layui-input-inline" style="width:60px">
            <a href="javascript:showEdit('@Url.Action("Create")','@Url.Action("Save")','添加',800,800)" class="layui-btn layui-btn-primary">+添加</a>
        </div>*@
    <input type="hidden" id="TrainClassTypeId" value="@ViewBag.TrainClassTypeId" />
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px">学年/学期:</label>
        <div class="layui-input-inline" style="width:240px">
            <select name="YearTermId" asp-items="@ViewBag.YearTermId" class="layui-input" id="YearTermId">
                <option value="">-请选择学年/学期-</option>
            </select>
        </div>
    </div>
    @if (CurrentUser.Roles > Role.学院党委)
    {
        <div style="display:inline-block">
            <label class="layui-form-label" style="padding:5px;width:60px">部门:</label>
            <div class="layui-input-inline" style="width:200px">
                <select name="DepartmentId" asp-items="@ViewBag.DepartmentId" class="layui-input" id="DepartmentId">
                    <option value="">-请选择部门-</option>
                </select>
            </div>
        </div>
    }
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px;width:60px">培训班:</label>
        <div class="layui-input-inline" style="width:240px">
            <select name="TrainClassId" asp-items="@ViewBag.TrainClassId" class="layui-input" id="TrainClassId">
                <option value="">-请选择培训班-</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px">是否合格:</label>
        <div class="layui-input-inline" style="width:80px;">
            <select name="isPass" class="layui-input" id="isPass">
                <option value="">-全部-</option>
                <option value="true">合格</option>
                <option value="false">不合格</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px">是否补考:</label>
        <div class="layui-input-inline" style="width:80px;">
            <select name="isBcGrade" class="layui-input" id="isBcGrade">
                <option value="">-全部-</option>
                <option value="true">补考</option>
                <option value="false">非补考</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <label class="layui-form-label" style="padding:5px;width:100px">是否打印证书:</label>
        <div class="layui-input-inline" style="width:80px;">
            <select name="isPrint" class="layui-input" id="isPrint">
                <option value="">-全部-</option>
                <option value="true">已打印</option>
                <option value="false">未打印</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:200px">
            <input name="keyword" type="text" class="layui-input" placeholder="请输入学号/工号/姓名" id="keyword" />
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" id="search" href="javascript:;" onclick="tablefilter()">
                <i class="layui-icon layui-icon-search" style="font-size: 14px; color: #FFFFFF;"></i>查询
            </a>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:110px">
            <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="importExcel()">
                <i class="layui-icon layui-icon-export" style="font-size: 14px; color: #FFFFFF;"></i>导入成绩
            </a>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="printSelected()">
                <i class="layui-icon layui-icon-print" style="font-size: 14px; color: #FFFFFF;"></i>打印
            </a>
        </div>
    </div>
    <div style="display:inline-block">
        <div class="layui-input-inline" style="width:80px">
            <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="previewSelected()">
                <i class="layui-icon layui-icon-print" style="font-size: 14px; color: #FFFFFF;"></i>套打
            </a>
        </div>
    </div>
</div>
<form id="GradeTable" method="post">
    <table class="layui-hide" id="datatable" lay-filter="datatable"></table>
</form>
<div style="margin-top: 10px">
    <div class="layui-input-inline" style="width:110px">
        <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="saveGrade()" id="saveGrade" data-type="saveGrade">
            <i class="layui-icon layui-icon-set-fill" style="font-size: 14px; color: #FFFFFF;"></i>保存成绩
        </a>
    </div>
</div>
@Html.AntiForgeryToken()
<link href="~/lib/contentmenu/css/style.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/contentmenu/js/index.js"></script>
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script type="text/javascript">
        var tableObject = null;
        $(document).ready(function () {
            $("body").width("100%");
            $(window).resize(function () {
                $("body").width("100%");
            });
            $("#YearTermId").change(function () {
                filterTrainClass();
            });
            $("#DepartmentId").change(function () {
                filterTrainClass();
            });
            filterTrainClass();
            InitTable();
        });

        function Delete(id) {
            var url="@Url.Action("Delete")";
            DeleteData(url, id, function () {
                tableObject.reload();
            });
        }
        /**
        * 数据上移
        * @@param id
        */
        function ItemUp(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,true,
                function () {
                    RefreshTable();
            });
        }
        /**
         * 数据下移
         * @@param id
         */
        function ItemDown(id) {
            DataOrdinalUpDown('@Url.Action("ItemUpDown")',id,false,
                function () {
                    RefreshTable();
            });
        }
        /**刷新表格 */
        function RefreshTable() {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('dataGrid', {
                    url: '@Url.Action("GetDatasWithFilter")'
                });
            });
        }
        function InitTable() {
            layui.use('table', function () {
                var table = layui.table;

                tableObject = table.render({
                    elem: '#datatable'
                    , url: '@Url.Action("GetDatasWithFilter")'
                    , page: true //开启分页
                    , limits: [10, 20, 50]
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , id: 'dataGrid'
                    , cols: [[
                        //{ type: 'checkbox' }
                       // ,
                        { type: 'checkbox', fixed: 'left' },
                        { field: 'yearTermDisplay', title: '学年/学期', align: 'center', templet: '#optYearTermTpl' },
                        { field: 'trainClassDisplay', title: '培训班', align: 'center', templet: '#optTrainClassDisplayTpl' },
                        { field: 'partyActivistJobNoDisplay', title: '学号/工号', align: 'center', templet: '#optPartyActivistJobNoTpl' },
                        { field: 'partyActivistNameDisplay', title: '姓名', align: 'center', templet: '#optPartyActivistNameoTpl' },
                        {
                            field: 'id', title: '序号', align: 'center', hide: true, templet: function (d) {
                                return '<input type="text" name="id" class="form-control" value="' + d.id + '">'
                            }
                        },
                        {
                            field: 'name', title: '姓名', align: 'center', hide: true, templet: function (d) {
                                return '<input type="text" name="name" class="form-control" value="' + d.nameDisplay + '">'
                            }
                        },
                        {
                            field: 'jobNo', title: '学号/工号', align: 'center', hide: true, templet: function (d) {
                                return '<input type="text" name="jobno" class="form-control" value="' + d.jobNoDisplay + '">'
                            }
                        },
                        {
                            field: 'psGradeTemp', title: '平时成绩', align: 'center', templet: function (d) {
                                if (d.isPrint == true) {
                                    return '<input type="number" name="psGrade" class="form-control" style="width:100%;height:26px" readonly value="' + d.psGrade + '">';
                                } else {
                                    return '<input type="number" min="0" max="100" name="psGrade" class="form-control" style="width:100%;height:26px"  value="' + d.psGrade + '">';
                                }
                            }
                        },
                        {
                            field: 'csGradeTemp', title: '考试成绩', align: 'center', templet: function (d) {
                                if (d.isPrint == true) {
                                    return '<input type="number" name="csGrade" class="form-control" style="width:100%;height:26px" readonly value="' + d.csGrade + '">';
                                } else {
                                    return '<input type="number" min="0" max="100" name="csGrade" class="form-control" style="width:100%;height:26px"  value="' + d.csGrade + '">';
                                }
                            }
                        },
                        {
                            field: 'isPrint', title: '是否打印', align: 'center', hide: true, templet: function (d) {
                                return '<input type="text" name="isPrint" class="form-control" value="' + d.isPrint + '">'
                            }
                        },
                        { field: 'bcGrade', title: '补考成绩', align: 'center'},

                        { field: 'totalGrade', title: '总成绩', align: 'center' },
                        { field: 'isPass', title: '是否合格', align: 'center', templet: function (d) { return d.isPass ? "是" : "否" } },
                        { field: 'isPrintDisplay', title: '是否已打印', align: 'center' },
                        { field: 'printTimeDisplay', title: '打印时间', align: 'center', templet: function (d) { return formatDate(d.printTimeDisplay, 'yyyy-MM-dd'); } },
                        { field: 'id', title: '操作',  align: 'center', templet: '#optTpl' }
                    ]]
                    , done: function (res, curr, count) {
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
                /**过滤数据 */
        function tablefilter() {
            //此处Id不要#号
            var tableId = "dataGrid";
            layui.use('table', function () {
                var table = layui.table;
                table.reload(tableId, {
                    url: '@Url.Action("GetDatasWithFilter")'
                    , where: {
                        yearTermId: $("#YearTermId").val(),
                        departmentId: $("#DepartmentId").val(),
                        trainClassId: $("#TrainClassId").val(),
                        isPass: $("#isPass").val(),
                        isPrint: $("#isPrint").val(),
                        keyword: $("#keyword").val(),
                        isBcGrade: $("#isBcGrade").val()
                    }
                    , done: function (res, curr, count) {
                        //fillPatientList(res, curr, count);
                        showHideScrollBars(res.data.length);
                    }
                });
            });
        }
        /*保存成绩*/
        function saveGrade() {
            var forGrade = $("#GradeTable").serializeArray();
            var forGradeSelected = $.grep(forGrade, function (item) { return item.name != "layTableCheckbox" });
            var dataList = new Array();
            try {
                if (forGradeSelected.length > 0) {
                    var mId = '';
                    var psGrade = 0;
                    var csGrade = 0;
                    for (var i = 0; i < forGradeSelected.length-1; i = i + 6) {
                        var noName = "【" + forGradeSelected[i + 1].value + "-" + forGradeSelected[i+2].value + "】";
                        if (forGradeSelected[i + 3] != null) {
                            var psGrade = parseFloat(forGradeSelected[i + 3].value);
                            if (psGrade < 0 || psGrade > 100)
                                throw new Error(noName + "平时成绩不合法");
                        }
                        if (forGradeSelected[i + 4] != null) {
                            var csGrade = parseFloat(forGradeSelected[i + 4].value);
                            if (csGrade < 0 || csGrade > 100)
                                throw new Error(noName + "考试成绩不合法");
                        }
                        if (forGradeSelected[i + 5].value == "false") {
                            var item = forGradeSelected[i].value + "," + forGradeSelected[i + 3].value + "," + forGradeSelected[i + 4].value;
                            dataList.push(item);
                        }
                    }
                }
                if (dataList.length > 0) {
                   $.ajax({
                        type: 'post',
                        url: '@Url.Action("SaveGradeData")',
                        traditional: true,
                        data: { datas: dataList },
                        dataType: 'json',
                        success: function (data) {
                            layer.msg(data.message);
                            tablefilter();
                        }
                    });
                }
                else
                    showMessage("数据保存成功");
            }
            catch (error) {
                showError(error.message);
            }
        }
        @*function saveGrade() {
            try {
                var tableId = "dataGrid";
                var dataList = new Array();
                var errName;
                layui.use('table', function () {
                    var datas = layui.table.cache[tableId];
                    for (i = 0; i < datas.length; i++) {
                        var item = datas[i].id + "," + datas[i].psGrade + "," + datas[i].csGrade;
                        var no = datas[i].jobNoDisplay;
                        var name = datas[i].nameDisplay;
                        var noName = "【" + no + "-" + name + "】";
                        if (datas[i].psGrade != null) {
                            var psGrade = parseFloat(datas[i].psGrade);
                            if (psGrade < 0 || psGrade > 100)
                                throw new Error(noName + "平时成绩不合法");
                        }
                        if (datas[i].csGrade != null) {
                            var csGrade = parseFloat(datas[i].csGrade);
                            if (csGrade < 0 || csGrade > 100)
                                throw new Error(noName + "考试成绩不合法");
                        }
                        dataList.push(item);
                    }
                });
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveGradeData")',
                    traditional: true,
                    data: { datas: dataList },
                    dataType: 'json',
                    success: function (data) {
                        layer.msg(data.message);
                        InitTable();
                    }
                });
            }
            catch (error) {
                showError(error.message);
            }
        }*@

        /**显示隐藏滚动条 */
        function showHideScrollBars(count) {
            if (count > 11) {
                $("body").css("overflow-y", "auto");
            }
            else {
                $("body").css("overflow-y", "hidden");
                $(document).scrollTop(0);
            }
        }
        /**显示操作菜单 */
        function showOperatMenu(event, id, totalGrade, isPass) {
            var contextMenu = new ContextMenu();
            contextMenu.addMenuItem("打印", function () {
                if (isPass=="false")
                    showError("成绩不合格无法打印");
                else
                    showPrint('@Url.Action("PrintAndPreview")' + '?fillBlank=false&idList=' + id, '打印结业证', 800, 600, function () { updatePrintStatus(id);}, function () { tablefilter(); });
            })
                contextMenu.addMenuItem("录入补考成绩", function () {
                    showEdit('@Url.Action("BcGrade", "PotentialTrainResults")' + '/' + id, '@Url.Action("BcGrade", "PotentialTrainResults")', '录入补考成绩', 500, 400);
                })
           @* contextMenu.addMenuItem("删除", function () {
                Delete(id);
            })*@
            contextMenu.addMenuItem("上移", function () {
                ItemUp(id);
            })
            contextMenu.addMenuItem("下移", function () {
                ItemDown(id);
            })
            contextMenu.showMenu(event);
        }
        function importExcel() {
            showImport('@Url.Action("Import")', '@Url.Action("Import")', '导入发展对象培训成绩', 600, 450, function () { location.reload(); });
        }
        /**打印选中的发展对象培训结业证 */
        function printSelected() {
            var datas="";
            layui.use('table', function () {
                var table = layui.table;
                var checkData = table.checkStatus('dataGrid').data;
                    for (i = 0; i < checkData.length; i++) {
                        if (checkData[i].isPass == true) {
                            datas+=checkData[i].id+",";
                        }
                    }
            });
            if (datas == "")
                showError("请选择成绩合格的发展对象");
            else
                showPrint('@Url.Action("PrintAndPreview")' + '?fillBlank=false&idList=' + datas, '打印结业证', 800, 600, function () { updatePrintStatus(datas); }, function () { tablefilter(); });
        }
        /**预览选中的发展对象培训结业证 */
        function previewSelected() {
            var datas="";
            layui.use('table', function () {
                var table = layui.table;
                var checkData = table.checkStatus('dataGrid').data;
                    for (i = 0; i < checkData.length; i++) {
                        if (checkData[i].isPass == true) {
                            datas+=checkData[i].id+",";
                        }
                    }
            });
            if (datas == "")
                showError("请选择成绩合格的发展对象");
            else
                showPrint('@Url.Action("PrintAndPreview")' + '?fillBlank=true&idList=' + datas, '打印结业证', 800, 600, function () { updatePrintStatus(datas);}, function () { tablefilter(); });
        }
        /**
         * 更新打印状态
         * @@param datas
         */
        function updatePrintStatus(datas) {
            var postUrl = '@Url.Action("UpdatePrintStatus")';
            $.ajax({
                url: postUrl,
                data: {idList:datas},
                type: "post",
                dataType: "json",
                success: function (response) {
                    if (response.code == 0) {
                    }
                    else {
                        layer.msg(response.message, {
                            icon: 2,
                            time: 2000
                        },
                            function () {
                                //保存时发生错误
                            });
                    }
                },
                error: function () {
                    showError("更新打印状态时发生错误");
                }
            });
        }
    </script>
    <script type="text/html" id="optTpl">
        <a class="operate" href="javascript:;" onmousedown="showOperatMenu(event,'{{d.id}}','{{d.totalGrade}}','{{d.isPass}}')" style="padding-left:10px;padding-right:10px;">
            <img src="~/images/gridmenu1x.png" />
        </a>
    </script>
    <script type="text/html" id="optYearTermTpl">
        {{d.yearTermDisplay}}
    </script>
    <script type="text/html" id="optTrainClassDisplayTpl">
        {{d.trainClassDisplay}}
    </script>
    <script type="text/html" id="optPartyActivistJobNoTpl">
        {{d.jobNoDisplay}}
    </script>
    <script type="text/html" id="optPartyActivistNameoTpl">
        {{d.nameDisplay}}
    </script>
    <script type="text/html" id="optIdoTpl">
        {{d.id}}
    </script>
    <script>
        function filterTrainClass() {
            var url = '@Url.Action("GetTrainClassDatas")';
            var yearTermId = $("#YearTermId").val();
            var trainClassTypeId = $("#TrainClassTypeId").val();
            var departmentId = $("#DepartmentId").val();
            var where = { trainClassTypeId:trainClassTypeId,yearTermId: yearTermId, departmentId: departmentId };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请选择培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#TrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
    </script>
}

